@import "../colors";

.loader-container {
    margin-top: 20%;

    .img-wrapper {
        animation: tilt 1.75s infinite;
        animation-delay: 1.5s;

        .loader-img {
            border-radius: 50%;
            width: 20rem;
        }
    }
}

@keyframes tilt {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-50deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
